# Google Sheets Configuration for Vercel Deployment
GOOGLE_CLIENT_EMAIL="plataforma-liderazgo@cumbre-liderazgo-506117.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
SPREADSHEET_ID="1ukcNSduM2345SG6kY3538M3WtHk1TDFMrwIXZR0QYGA"
